@import './custom-properties.scss';

html {
  font-family: var(--font-family-serif);
  font-weight: 300;
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
}

body {
  -webkit-font-smoothing: antialiased;
  color: var(--color-white);
  background: var(--color-black);
  margin: 0;
}

html,
body,
body > div,
body > div > div {
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  padding-inline-start: 0;
}
li {
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-sans);
}
main {
  padding-top: 4rem;
}