@import './custom-properties.scss';

* {
  box-sizing: border-box;
}

html {
  font-family: $fontstack-grotesk;
  font-weight: 300;
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
}

body {
  -webkit-font-smoothing: antialiased;
  color: $white;
  background-color: $black;
  margin: 0;
}

html,
body,
body > div,
body > div > div {
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  padding-inline-start: 0;
}
li {
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fontstack-geometric;
  margin: 0;
}
button {
  border: none;
  cursor: pointer;
}
main {
  padding-top: 4rem;
  background-color: $primary-color;
}

img {
  user-select: none;
}
// *:focus {
//   outline: $accent-color dashed 1px;
//   //outline-color: $accent-color;
// }


