@import '../../styles/custom-media.scss';
@import '../../styles/custom-properties.scss';


.Persona {
  .Persona-header {
    .Heading {
      margin: 0;
    }
    margin-bottom: 1.5rem;
    min-height: 6rem;
    @media screen and (max-width: $layout-sm) {
      min-height: 1rem;
    }
  }
  transition: max-height 500ms ease;
  overflow: hidden;
  // &.active {
  //   //max-height: 100%;
  //   //overflow: auto;
  // }
}


.Persona-content {
  display: flex;
  flex-direction: column;
  transition: max-height 500ms ease;
  max-height: 2.5rem;

  .Content-block {
    overflow: hidden;
  }
}
.Persona.active {
  .Persona-content {
    max-height: 100%;
    // .Content-block {
    //   background-color: coral;
    // }
  }
}
.Content-bottom-panel {
  display: flex;
  .Button {
    min-width: 10rem;
  }
}
.Persona-links-container {
  color: $accent-color;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.Persona-bio-link {
  margin-right: 1rem; 
}

.Persona-socialmedia-links {
  color: inherit;
  display: flex;
  margin: 1rem 0.5rem; 
  a {
    color: inherit;
    &:hover {
      color: $white;
    }
  }
}