@import '../../styles/custom-properties.scss';
@import '../../styles/custom-media.scss';

.CookieContainer {
  display: flex;
  flex-direction: column;
  position: fixed; 
  margin: 1.5rem;
  bottom: 0; 
  right: 0;
  max-width: 19rem;
  @media screen and (max-width: $layout-sm) {
    bottom: 0; 
    right: 0;
    max-width: 100%;
  }
  color: $white;
  background-color: $dark-gray;
  box-shadow: 0 0.5rem 1rem 0.125rem rgba($black, 0.8);
  padding: 1rem;
  z-index: 5000;
}