@import '../../styles/custom-properties.scss';

.ppm-Logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  .staff-element {
    fill: currentColor;
  }
}


.nck-Logo {
  display: flex;
  justify-content: center;
  align-items: center;
  
  svg {
    fill: currentColor;
    height: 4em;
  }
}

