@import '../../styles/custom-media.scss';
@import '../../styles/custom-properties.scss';

$rule-margin: 1.5em;

.Rule {
  height: 0.25em;
  width: 4em;
  border: 0;
  margin: $rule-margin 0;
  &.small{
    height: 0.0625em
  }
  &.mid {
    height: 0.125em
  }
  &.big {
    height: 0.25em;
  }
  &.large {
    height: 0.5em;
  }
  &.Rule-primary {
    background-color: $primary-color;
  }
  &.Rule-accent {
    background-color: $accent-color;
  }
  &.Rule-default {
    background-color: currentColor;
  }
  &.center {
    margin: $rule-margin auto;
  }
  &.full-length {
    width: 100%;
  }
}





mark {
  font-size: 0.875em;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 0.125em;
}

.paragraph {
  font-size: 1em;
  line-height: 1.4em;
  margin: 1em 0;
  &.small{
    font-size: 0.875em;
  }
  &.mid {
    font-size: 1em;
  }
  &.big {
    font-size: 1.25em;
  }
  &.large {
    font-size: 1.5em;
  }
}

.paragraph,
.italic {
  &.caps {
    text-transform: uppercase;
    font-weight: 400;
  }
  &.bold {
    font-weight: 300;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    } 
  }
  &.bolder {
    font-weight: 400;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    } 
  }

  &:first-child {
    margin-top: 0;
  }

  margin: 1em 0;
}






.Heading {
  margin: 1rem 0;
  &.caps {
    text-transform: uppercase;
    font-weight: 400;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.25em;
  }
  h4 {
    font-size: 1em;
  }
  h6 {
    font-size: 0.75em;
  }
}
