@import '../../styles/custom-media.scss';
@import '../../styles/custom-properties.scss';

$break: $layout-sm;

.root {
  background-color: $black;
}

.videoWrapper {
  max-width: 960px;
  padding: 1em 1.5em;
  margin: 0 auto;
  border: 0;
  @media screen and (max-width: $break) {
    //max-width: 100%;
    padding: 0;
    margin: 0;
  }
}

.videoContainer2 {
  position: relative;
  padding-bottom: calc(9 / 16 * 100%);

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.videoContainer {
  &:focus {
    outline: 1px solid red;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  a span {
    color: red;
  }
}